html, 
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', Arial;
}

.gradient {
    background: rgb(0, 97, 242);
    background: linear-gradient(
        135deg,
        rgba(0, 97, 242, 1) 0%,
        rgba(105, 0, 199, 1) 100%
    );
}

.nav_img {
    max-width: 73px;
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
}

.feature {
    color: white;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background: url(../img/check.svg) no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: white;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: white;
}

.footer {
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration-line: underline;
    text-decoration-color: linear-gradient(
        135deg,
        rgba(0, 97, 242, 1) 0%,
        rgba(105, 0, 199, 1) 100%
    );
}